
#rec257714979,
#rec254409915 {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  transition: all .3s ease;
  z-index:99;
  will-change: transform;
}
#rec257714979 {
  z-index: 90;
}
#rec257714979.out,
#rec254409915.out {
  transform: translateY(-100%);
}
